

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #000;
}

.jedi {
	display: flex;
	height: 500px;
	width: 100%;
}

.force {
	margin: auto;
	display: flex;
}

a {
	color: #fff;
	margin: auto;
}

.saber1, .saber2, .saber3, .saber4, .saber5, .saber6 {
	background-color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	margin: 10px;
	display: flex;
}

.saber1:hover, .saber2:hover, .saber3:hover, .saber4:hover, .saber5:hover, .saber6:hover {
	box-shadow: none;
}

.saber1 {
	background-color: #E53935;
	box-shadow: 0 0 30px 5px #E53935;
}

.saber2 {
	background-color: #D81B60;
	box-shadow:  0 0 30px 5px #D81B60;
}

.saber3 {
	background-color: #8E24AA;
	box-shadow: 0 0 30px 5px #8E24AA;
}

.saber4 {
	background-color: #1E88E5;
	box-shadow: 0 0 30px 5px #1E88E5;
}

.saber5 {
	background-color: #43A047;
	box-shadow: 0 0 30px 5px #43A047;
}

.saber6 {
	background-color: #FDD835;
	box-shadow: 0 0 30px 5px #FDD835;
}

.saber1, .saber3, .saber5 {
	animation: leftSaber 3s;
	transform: translateY(-180px);
}

.saber2, .saber4, .saber6 {
	animation: rightSaber 3s;
	transform: translateY(-180px);
}

@keyframes leftSaber {
	0%{
	transform: rotate(0deg) translateY(45px);
}
	100%{
	transform: rotate(360deg) translateY(-180px);
}
}

@keyframes rightSaber {
	0%{
	transform: rotate(0deg) translateY(45px);
}
	100%{
	transform: rotate(-360deg) translateY(-180px);
}
}
